body {
    background-color: #9C27B0;
    margin: 0;
}

.login-card {
    max-width: 350px;
    padding: 40px;
    background-color: #F3E5F5;
    margin: 50px auto;
}

.login-form input[type=text],
.login-form input[type=password] {
    padding: 8px;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login-button {
    color: #F3E5F5;
    border: none;
    height: 36px;
    background-color: #9C27B0;
    padding: 0;
    width: 100%;
    transition: all 0.218s;
    font-size: 14px;
    font-weight: 700;
}

.login-button:hover,
.login-button:active,
.login-button:focus {
    color: #F3E5F5;
    background-color: #4A148C;
}

.dashboard-card {
    margin: auto;
    max-width: 700px;
    background-color: #F3E5F5;
}

.dashboard-card h1 {
    color: #4A148C;
    text-align: center;
}

.send-order-card {
    padding: 40px;
    margin: 50px auto;
    max-width: 700px;
    background-color: #F3E5F5;
}

.send-order-data-card {
    margin: 10px auto;
    background-color: #4A148C;
    color: #F3E5F5;
}

.sl-column {
    width: 20px;
}